<body data-controller="hello">
  <header class="header" id="header">
    <h1>satellitesaboveme.com</h1>
    <%= render 'search' %>
  </header>

  <!-- Floating Arrow as a Button -->
  <button
    class="floating-arrow"
    aria-label="Scroll Down"
    id="floating-arrow"
    data-controller="arrow"
    data-action="click->arrow#scroll"
  >
    <i class="fa-solid fa-chevron-down" style="text-shadow: 0px 0px 32px #ffe4af;"></i>
  </button>

  <main
    class="container-fluid main-content h-100 mb-3"
    id="main-content"
    
    data-controller="map"
    data-mapbox-token="<%= @mapbox_token %>"
    data-satellites-json='<%= raw @satelites_list.to_json %>'

    data-map-target="element"
  >
    <div class="row gx-3 h-100">
      <!-- Map Column -->
      <div class="col-12 col-md-8 mb-4 mb-md-0 d-flex justify-content-center map-column">
        <div
          id="map"
          class="w-100 h-100 rounded shadow"
          style="min-height: 400px;"
          tabindex="-1"
          data-map-target="map"
        ></div>
      </div>

      <!-- Sidebar Column -->
      <div class="col-12 col-md-4 d-flex flex-column h-100 sidebar-column">
        <div id="sidebar" class="bg-white rounded shadow h-100 d-flex flex-column">
          <div id="sidebar-header" class="p-4 border-bottom">
            <h4 id="sidebar-title" class="text-center mb-4" data-map-target="sidebarTitle">
              Satellites Above ...
            </h4>
            <div class="d-flex gap-2 flex-wrap justify-content-center">
              <div class="sidebar-button flex-fill" data-map-target="searchAgain" id="search-again">
                Search again
              </div>
              <div class="sidebar-button flex-fill" data-map-target="learnMore" id="learn-more">
                Learn more
              </div>
              <div class="sidebar-button flex-fill" data-map-target="otherProjects" id="other-projects">
                Reset zoom
              </div>
            </div>
          </div>
          <div
            id="satellite-cards"
            class="p-3 overflow-auto flex-grow-1 d-flex"
            data-map-target="satelliteCards"
          >
          </div>
          <div class="mb-3 border-top d-flex text-center align-items-center"></div>
        </div>
      </div>
    </div>

    <!-- You probably have the search form partial as well; link the targets accordingly -->
    <form id="search-form" data-map-target="searchForm" style="display:none;">
      <input type="text" id="search-query" data-map-target="searchQuery" />
      <button type="submit">Search</button>
    </form>
  </main>

  <!-- Mapbox JS -->
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
