/* Styles for the satellite cards */
.card {
  width: calc(33.33% - 0.8rem); /* Three cards per row with gap */
  height: 120px; /* Set a fixed height */
  border: 2px solid black; /* Set black border with 2px thickness */
  color: #000; /* Changed from #fff to black */
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Added subtle shadow for depth */
  transition: 0.4s ease;
  cursor: pointer;
}

.card:hover {
  background-color: rgb(216, 222, 255) !important;
}

  
  #satellite-cards {
    border-radius: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; /* Space between cards */
    font-size: 60%;
    flex: 1 1 0;
    min-height: 0;
    height: 100%;
    padding: 1rem;
    overflow-y: auto;
    background: #fff; /* Ensure the container has a white background */
  }
  
  /* Hide scrollbar for Chrome, Safari, and Opera */
  #satellite-cards::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for Internet Explorer and Edge */
  #satellite-cards {
    -ms-overflow-style: none; /* IE and Edge */
  }